<div class="fixed">
    <div data-alert class="alert-box warning">
      <p>This website is a snapshot from January 2011. No content displayed on the site has been altered since.</p>
      <p>Visit the <a href="https://github.com/archfizz/2009">GitHub repository</a> of this site for more information.</p>

      <a href="#" class="close">&times;</a>
    </div>
</div>
