<div class="divSkillset">
    Design
    <br /> Print and Web <br /> &nbsp;
        <ul>
        <li>InDesign</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Fireworks</li>
    </ul>
    <br />
    Currently experimenting with: <br />
    <ul>
    <li>Flash</li>
    </ul>

    <br />
</div>

<div class="divSkillset">
    Design <br />
    Drafting and Modelling <br /> &nbsp;
    <ul>
        <li>AutoCAD (2D and 3D)</li>
        <li>3dsMax</li>
        <li>mental ray</li>
        <li>Maya</li>
        <li>SketchUp</li>
    </ul>

    <br />
</div>

<div class="divSkillset">
    Programming <br /> Desktop and Web <br /> &nbsp;
    <ul>
        <strong>Strong knowledge of</strong>
                <br />

        <li>Visual Basic</li>
        <li>Javascript</li>
        <li>PHP</li>
        <li>jQuery</li>
        <li>MEL (used within Maya - see above)</li>

    </ul>
        <br />
        <strong>Basic knowledge of:</strong>
    <ul><br />
        <li>Objective C</li>
        <li>ActionScript (used within Flash)</li>
        </ul>
    </ul>
    <br />
</div>

