<div class="divList"> &nbsp;

        <div class="divFeatures"> What's new in v0.6 [20 Oct 2010] <br />
            <ul>
{#

$file6 = fopen(__DIR__."/v06.txt", "r") or exit("Unable to open file!");
            //Output a list item for each line in file
        while(!feof($file6))
          { echo "<li>" . fgets($file6). "</li>"; }
        fclose($file6);
#}
            </ul>
        </div>
        </div>

        <div class="divList"> &nbsp;

        <div class="divFeatures"> What's New in v0.7 [20 Nov 2010]<br />
            <ul>
{#
$file7 = fopen(__DIR__."/v07.txt", "r") or exit("Unable to open file!");
            //Output a list item for each line in file
        while(!feof($file7))
          { echo "<li>" . fgets($file7). "</li>"; }
        fclose($file7);
#}
            </ul>
        </div>
        </div>

        <div class="divList"> &nbsp;

        <div class="divFeatures"> Planned for v0.8 [20 Dec 2010]<br />
            <ul>
{#
$file8 = fopen(__DIR__."/v08.txt", "r") or exit("Unable to open file!");
            //Output a list item for each line in file
        while(!feof($file8))
          { echo "<li>" . fgets($file8). "</li>"; }
        fclose($file8);
#}
            </ul>
        </div>
        </div>

        <div class="divList"> &nbsp;


        <div class="divFeatures"> Planned for v0.9 [20 Jan 2011]<br />
            <ul>
{#
$file9 = fopen(__DIR__."/v09.txt", "r") or exit("Unable to open file!");
            //Output a list item for each line in file
        while(!feof($file9))
          { echo "<li>" . fgets($file9). "</li>"; }
        fclose($file9);
#}
            </ul>
        </div>
        </div>

        <div class="divList"> &nbsp;

        <div class="divFeatures">Planned for v1.0 [13 Feb 2011 - ArchFizz One Year Anniversary]<br />
            <ul>
{#
$file1 = fopen(__DIR__."/v10.txt", "r") or exit("Unable to open file!");
            //Output a list item for each line in file
        while(!feof($file1))
          { echo "<li>" . fgets($file1). "</li>"; }
        fclose($file1);
#}
            </ul>
        </div>
        </div>

