$dark-gray: #333333;
$lime-green: #99FF00;

$archfizz-winter-snowflake: image-url('bkg-12.png');

$archfizz-primary-color: $lime-green;
$archfizz-background-color: $dark-gray;
$archfizz-background-image: $archfizz-winter-snowflake;
