<div class="fixed">
    <div data-alert class="alert-box warning">
      This website is a snapshot from January 2011. No content displayed on the site has been altered since.
      <a href="#" class="close">&times;</a>
    </div>
</div>
