    <div id="divFooter">
        <div id="divSW"></div>
        <div id="divS">
            <span class="FooterBar" id="spanTime"></span>
            <span class="FooterBar" id="spanStatusBar"></span>
        </div>
        <div id="divSE"></div>
    </div><!--Footer end-->
</div><!--Container end-->

<div id="divCopyright">&copy; Adam Elsodaney :: 2009 - {{ "now"|date('Y') }}</div>
<p>Last updated 2010</p>
<div>
    <span>ArchFizz {{ app.version }}</span></p>
    <br />
    <p>
        <a href="http://validator.w3.org/check?uri=referer">[<em>W3C Validation HTML 5</em>]</a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">[<em>W3C Validation CSS 3</em>] </a>
    <br />
</div>
